<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chat.auth.mapper.SysUserRoleMapper">

    <resultMap id="BaseResultMap" type="com.chat.auth.entity.SysUserRole">
            <id property="urid" column="urId" jdbcType="BIGINT"/>
            <result property="roleid" column="roleId" jdbcType="BIGINT"/>
            <result property="userid" column="userId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        urId,roleId,userId
    </sql>
</mapper>
