<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chat.auth.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.chat.auth.entity.SysUser">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="userNo" column="user_no" jdbcType="VARCHAR"/>
            <result property="weixin" column="weixin" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="CHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="telephone" column="telephone" jdbcType="CHAR"/>
            <result property="lastLoginIp" column="last_login_ip" jdbcType="VARCHAR"/>
            <result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP"/>
            <result property="creatorid" column="creatorId" jdbcType="BIGINT"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="merchantCode" column="merchant_code" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="roleid" column="roleId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,user_no,
        weixin,phone,user_name,
        password,avatar,status,
        telephone,last_login_ip,last_login_time,
        creatorId,createTime,merchant_code,
        deleted,roleId
    </sql>
</mapper>
