<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chat.chatopenai.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.chat.chatopenai.entity.SysUser">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userNo" column="user_no" jdbcType="VARCHAR"/>
            <result property="weixin" column="weixin" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_no,weixin,
        phone,user_name,password
    </sql>
</mapper>
