<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chat.chatopenai.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="com.chat.chatopenai.entity.SysRole">
            <id property="roleid" column="roleId" jdbcType="BIGINT"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="roleCode" column="role_code" jdbcType="VARCHAR"/>
            <result property="desc" column="desc" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="createDate" column="create_date" jdbcType="DATE"/>
            <result property="creator" column="creator" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        roleId,role_name,role_code,
        desc,status,create_date,
        creator
    </sql>
</mapper>
